<div class="max-w-2xl mx-auto p-6 bg-white shadow-md border rounded-md mt-8">
  <h2 class="text-2xl font-bold text-sky-700 mb-4 text-center">Editar Canario</h2>

  <form [formGroup]="birdForm" (ngSubmit)="updateBird()" class="space-y-4">
    <input placeholder="Procedencia" formControlName="origin" class="input-field" />
    <input placeholder="Temporada" formControlName="season" class="input-field" />
    <input placeholder="Color de anillo" formControlName="ringColor" class="input-field" />
    <input placeholder="Número de anillo" formControlName="ringNumber" class="input-field" />
    <input placeholder="Género" formControlName="gender" class="input-field" />
    <input placeholder="Línea" formControlName="line" class="input-field" />
    <input placeholder="Estado" formControlName="state" class="input-field" />
    <textarea placeholder="Obs. estado" formControlName="stateObservation" class="input-field"></textarea>
    <input placeholder="Padre" formControlName="father" class="input-field" />
    <input placeholder="Madre" formControlName="mother" class="input-field" />
    <input placeholder="Postura" formControlName="posture" class="input-field" />
    <textarea placeholder="Observaciones" formControlName="observations" class="input-field"></textarea>

    <div class="flex justify-end gap-4">
      <button type="submit" class="bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-md font-medium">
        Guardar cambios
      </button>
      <button type="button" [routerLink]="['/birds-list']"
        class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-6 py-2 rounded-md">
        Cancelar
      </button>
    </div>
  </form>
</div>