/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #ffffff, #adecff);
  color: rgb(17 24 39);
}
